.FAQ_Full_body_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to a new row when there is not enough space */
    justify-content: space-between;
    /* background-color: blueviolet; */
}
.resources_banner_container {
    /* margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%; */
    flex: 0 0 calc(33.33% - 2%); /* Divide the width equally among the columns with some spacing */
    margin: 1%; /* Add some margin to create spacing between the columns */
    /* background-color: blue; */
}
.faq_banner_container {
    /* margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%; */
    flex: 0 0 calc(33.33% - 2%); /* Divide the width equally among the columns with some spacing */
    margin: 1%; /* Add some margin to create spacing between the columns */
    /* background-color: red */
}
.learn_banner_container {
    /* margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%; */
    flex: 0 0 calc(33.33% - 2%); /* Divide the width equally among the columns with some spacing */
    margin: 1%; /* Add some margin to create spacing between the columns */
    /* background-color: blue; */
}
#resources {
    /* margin-top: 10%; */
    /* background-color: #29435C; */
    padding: 5%;
    border-bottom: solid;
    border-width: 25%;
    border-color: #D1D4C9;
    /* border-radius: 41%; */
}
#resources h1 a {
    text-decoration: none; 
    color: #D1D4C9; 
} 
#resources h1 a:hover {
    color: #556E53; 
}
#resource_links {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;
    text-align: left;
    /* background-color: black; */
}
#resource_links a {
    color: #D1D4C9; 
    /* text-decoration: none;  */
    display: block; 
    padding: 5px 0; 
}
  
#resource_links a:hover {
    color: #556E53; 
    background-color: #29435C; 
}
#faq {
    /* margin-top: 10%; */
    /* background-color: #29435C; */
    padding: 5%;
    border-bottom: solid;
    border-width: 25%;
    border-color: #D1D4C9;
    /* border-radius: 41%; */
}
#faq h1 a {
    text-decoration: none; 
    color: #D1D4C9; 
} 
#faq h1 a:hover {
    color: #556E53; 
}
#faq_links {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;
    text-align: left;
    /* background-color: black; */
}
#faq_links a {
    color: #D1D4C9; 
    /* text-decoration: none;  */
    display: block; 
    padding: 5px 0; 
}
  
#resource_links a:hover {
    color: #556E53; 
    background-color: #29435C; 
}
#learn {
    /* margin-top: 10%; */
    /* background-color: #29435C; */
    padding: 5%;
    border-bottom: solid;
    border-width: 25%;
    border-color: #D1D4C9;
    /* border-radius: 41%; */
}
#learn h1 a {
    text-decoration: none; 
    color: #D1D4C9; 
} 
#learn h1 a:hover {
    color: #556E53; 
}
#learn_links {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;
    text-align: left;
    /* background-color: black; */
}
#resource_links a {
    color: #D1D4C9; 
    /* text-decoration: none;  */
    display: block; 
    padding: 5px 0; 
}
  
#faq_links a:hover {
    color: #556E53; 
    background-color: #29435C; 
}