.FAQ_Full_body_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to a new row when there is not enough space */
    justify-content: space-between;
    /* background-color: blueviolet; */
}
.resources_banner_container {
    /* margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%; */
    flex: 0 0 calc(48% - 2%); /* Divide the width equally among the columns with some spacing */
    margin: 1%; /* Add some margin to create spacing between the columns */
    /* background-color: blue; */
}
.learn_banner_container {
    /* margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%; */
    flex: 0 0 calc(48% - 2%); /* Divide the width equally among the columns with some spacing */
    margin: 1%; /* Add some margin to create spacing between the columns */
    /* background-color: blue; */
}

/* Both Elements */
#p_title {
    color: #556E53;
    font-weight: bold;
}
#faq_h1 {
    background-color: #29435C;
    color:#D1D4C9;
    margin: 5%;
    border-radius: 20%;
}
/* Both Elements */

#resources {
    height: 95%;
    /* border: #D1D4C9; */
    /* margin-top: 10%; */
    background-color: #29435C;
    /* Translucent #29435C with 50% (.5) op */
    background-color: rgba(41, 67, 92, 0.5); 
    padding: 5%;
    border-bottom: solid;
    border-width: 25%;
    border-color: #D1D4C9;
    /* border-radius: 41%; */
}
#resources h1 a {
    text-decoration: none; 
    color: #D1D4C9; 
} 
#resources h1 a:hover {
    color: #556E53; 
}
#resource_links {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;
    text-align: left;
    /* background-color: black; */
}
#resource_links a {
    color: #D1D4C9; 
    /* text-decoration: none;  */
    display: block; 
    padding: 5px 0; 
} 
#resource_links a:hover {
    color: #556E53; 
    background-color: #29435C; 
}  
#resource_links a {
    color: #D1D4C9; 
    /* text-decoration: none;  */
    display: block; 
    padding: 5px 0; 
}
#learn {
    height: 95%;
    /* margin-top: 10%; */
    background-color: #29435C;
    /* Translucent #29435C with 50% (.5) op */
    background-color: rgba(41, 67, 92, 0.5); 
    padding: 5%;
    /* padding-bottom: 93%; */
    border-bottom: solid;
    border-width: 25%;
    border-color: #D1D4C9;
    /* border-radius: 41%; */
}
#learn h1 a {
    text-decoration: none; 
    color: #D1D4C9; 
} 
#learn h1 a:hover {
    color: #556E53; 
}
#learn_links {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;
    text-align: left;
    /* background-color: black; */
}
#learn_links a {
    color: #D1D4C9; 
    /* text-decoration: none;  */
    display: block; 
    padding: 5px 0; 
} 
#learn_links a:hover {
    color: #556E53; 
    background-color: #29435C; 
}  
#learn_links a {
    color: #D1D4C9; 
    /* text-decoration: none;  */
    display: block; 
    padding: 5px 0; 
}

  
