#rocket_return {
    height: 7%;
    width: 7%;
    margin-left: 90%;
    /* background-color: blue; */
}

/* Apply styles when the image is hovered */
#rocket_top_img:hover {
    opacity: 0.4; 
    /* border: 1px solid black;  */
}