::-webkit-scrollbar {
    width: 1px; /* Adjust the width of the scrollbar */
}
::-webkit-scrollbar-track {
    background-color: black; 
}
::-webkit-scrollbar-thumb {
    background-color: black; 
}
.fetch_tle_body {
    height: 100%;
    width: 100%;
    /* overflow:auto;
    overflow-y: scroll; */
    /* background-color: black; */
    /* background-color: blue;  */
}
#search_monkey_img {
    height: 30%;
    width: 50%;
    /* padding-top: -40%; */
    /* background-color: blue; */
}
#monkey_img {
    height: 12%;
    width: 12%;
    /* border-radius: 10%; */
    padding-top: 0%;
    margin-top: 0%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); */
    /* background-color: blue; */
}
.button {
    margin-top: 5%;
    /* background-color: blueviolet; */
}
#searchSATCATs {
    color: yellow;
    margin-right: 1%;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: black;
    /* background-color: blue; */
}
#submit_button {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    color: yellow;
    border-radius: 10%;
    border-color: aliceblue;
    background-color: black;
    /* background-color: blueviolet; */
}
#submit_button:hover {
    background-color: yellow;
    color: black;
}
.fetch_tle_return {
    overflow-y: scroll;
    
    height: 400px;
    margin-left: 10%;
    margin-right: 10%
    /* background-color: black; */
    /* background-color: blueviolet; */
}

#SCC_return {
    padding-bottom: 5%;
    background-color: black;
    color: yellow;
    /* background-color: blue; */

}
#NO_SCC_return {
    padding-bottom: 5%;
    background-color: black;
    color: yellow;
    /* background-color: blue; */    
}
#NO_SCC_Line_return {
    padding-bottom: 5%;
    background-color: black;
    color: yellow;
    /* background-color: blue;    */
}
#copy_button {
    color: yellow;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background-color: black;
}
#copy_button:hover {
    background-color: yellow;
    color: black;
}