.UserAccounts {
    background-color: rgb(23, 14, 46);
    border: 2px;
    border-radius: 25px 170px 25px 170px;
    opacity: 1;
    /* height: 100%;
    width: 100%; */
}

.UA {
    /* background-color: rgb(23, 14, 46) */
    border-radius: 100px 100px 100px 100px;
    /* width: 100%; */
    text-align: center;
    padding: -3rem;
    text-decoration: underline;
}