.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #29435C;
    color: #D1D4C9;
    /* background-image: url(${login_background}); */
    background-image: url("https://wallpapers.com/images/hd/giant-stars-4k-space-q03wbnsie2ul47hh.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #login_body {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    width: 100vw;
    height: 100vh;
    /* background-color: blueviolet; */
  }
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
    background-color: none;
  }

.login-form {
  background-color: #29435C;
  border-radius:20px;
}
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid #D1D4C9;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  #loginButton {
    border: solid;
    border-color: #D1D4C9;
    border-width: 5px;
    background-color: #29435C;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #D1D4C9;
    font-size:large;
  }
  
  .link-btn {
    background: none;
    color: #D1D4C9;
    text-decoration: underline;
    border: 100px;
    border-color: #D1D4C9;
    border-width: 10px;
    background-color: #29435C;
  }
  
  #affiliation {
    margin-bottom: 5%;
  }

  .alert-danger {
    display: none;
    position:absolute;
    width: 100%;
    top: 0px;
    text-align: left;
  }

  .alert-warning {
    display: none;
    position:absolute;
    width: 100%;
    top: 0px;
    text-align: left;
  }
  
  .alert-success {
    display: none;
    position:absolute;
    width: 100%;
    top: 0px;
    text-align: left;
  }
  
  .fade {
    transition: opacity .50s linear;
  }

  .login1 {
    background-color: #29435C;
    color:#D1D4C9;
    margin: 10px;
    border-radius:20px;

  }

  h2 {
    background-color: #29435C;
    color:#D1D4C9;
    margin: 10px;
  }

  .setting-label {
    color: #D1D4C9;
    margin: 10px;
  }

  #account-setting-message {
    color:#D1D4C9;
    margin: 30px;
    font-size: 30px;
  }

  .Link-1{
    color: #D1D4C9;
    border: solid;
    border-color: #D1D4C9;
    border-width: 5px;
    background-color: #29435C;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #D1D4C9;
    font-size:large;
  }