@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.auth-form-container {
    margin-top: 2rem;
    align-items: center;
    background-color: #29435C;
    display: flex;
    justify-content: center;
    height: 45rem;
}

.auth-form-container input:focus {
    outline: solid;
    outline-color: #D1D4C9;
}

.AddSatTitle{
    border-radius:  12px;
    color: #D1D4C9;
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
    width: 100%;
   
}

.AddSatForm {
    background-color: none;
    border-radius: 20px;
    box-sizing: border-box;
    height: 1000px;
    padding: 20px;
    width: 400px;
}

.satcat {
    background-color: goldenrod;
    border-radius: 12px;
}

.SCinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.CBinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.LDinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.INCinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.RAANinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.ECCinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.AoPinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.MAinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.IMinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.satsubmitbutton {
        border-radius: 4px;
        background-color: #303245;
        border: none;
        color: #d1d4c9;
        text-align: center;
        font-size: 32px;
        padding: 16px;
        width: 220px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 36px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
      }
      
      satsubmitbutton{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      satsubmitbutton:after {
        content: '';
        position: absolute;
        opacity: 0;  
        top: 14px;
        right: -20px;
        transition: 0.5s;
      }
      
      satsubmitbutton:hover{
        padding-right: 24px;
        padding-left:8px;
      }
      
      satsubmitbutton:hover:after {
        opacity: 1;
        right: 10px;
      }
    
