@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.auth-form-container {
    align-items: center;
    background-color: none;
    display: flex;
    justify-content: center;
}

.AddSatTitle{
    color: goldenrod;
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
}

.AddSatForm {
background-color: none;
border-radius: 20px;
box-sizing: border-box;
height: 1000px;
padding: 20px;
width: 400px;
}

.satcat {
    background-color: goldenrod;
    border-radius: 12px;
}

.SCinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.CBinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.LDinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.INCinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.RAANinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.ECCinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.AoPinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.MAinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.IMinput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    height: 5%;
    padding: 4px 20px 0;
    width: 100%;
}

.satsubmitbutton {
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: purple;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

    /* &:after {
      background-color: yellow;
      border-radius: 3rem;
      content: '';
      display: block;
      height: 50%;
      width: 50%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate (-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: .2s transform ease-out;
      will-change: transform;
      z-index: -1;
    }
    &:hover::after { 
      transform: translate(0, 0);
    }

    &:hover {
      border: 2px solid transparent;
      color: indigo;
      transform :scale(1.05);
      will-change: transform;
      
    } */
