#return_home {
    height: 20%;
    width: 20%;
    
    /* background-color: blue; */
}

#rocket_return {
    /* margin-bottom: 50%; */
    /* background-color: blueviolet; */

}

input[type="text"] {
    padding: 8px;
    border: 1px solid #D1D4C9;
    background-color: #29435C;
    color: white;
}

