#Directory {
    border: solid;
    color: #D1D4C9;
    background-color: #29435C;
    padding:100px;
    border-bottom: solid;
    border-width: 50px;
    border-color: #D1D4C9;
    font-size:large;
}

table {
    background-color: #29435C;
    color:#D1D4C9;
    margin: 10px;

  }

  th, td {
    border-bottom: 1px solid #ddd;
  }
  
  table {
    background-color: #29435C;
    color:#D1D4C9;
    margin: 10px;
  }

  #table {
    border: solid;
    color: #D1D4C9;
    background-color: #29435C;
    padding:100px;
    border-bottom: solid;
    border-width: 50px;
    border-color: #D1D4C9;
    font-size:large;
}
