#navbarContainer {
    object-fit: contain;
    background-color: #29435C;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    border-bottom: solid;
    border-bottom-color: #D1D4C9;
}
#appTitle {
    margin: 0;
    font-size: 2rem;
    color: #D1D4C9;
    letter-spacing: 0.25rem;
    text-decoration: none;
}
#username {
    margin: 0;
    font-size: 1.5rem;
    color: #D1D4C9;
    letter-spacing: 0.25rem;
    text-decoration: none;
}
#rocket {
    height: 1.5%;
    width: 3%;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}
#home {
    height: 5%;
    width: 10%;
    /* margin-top: 5%; */
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#add {
    height: 8%;
    width: 12%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#mod {
    height: 5%;
    width: 10%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#faq_nav {
    height: 2.1%;
    width: 4.2%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#monkey {
    height: 1.5%;
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}
#one_track {
    margin-top: 6%;
    height: 75%;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* background-color: blue; */
}
.hover-effect:hover {
    filter: brightness(50%); 
    /* Darken the image */
    cursor: pointer;
} 






















/* OLD CSS */
/* #navbarContainer {
    object-fit: contain;
    background-color: #29435C;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    border-bottom: solid;
    border-bottom-color: #D1D4C9;
}

#appTitle {
    margin: 0;
    font-size: 2rem;
    color: #D1D4C9;
    letter-spacing: 0.25rem;
    text-decoration: none;
}

#username {
    margin: 0;
    font-size: 1.5rem;
    color: #D1D4C9;
    letter-spacing: 0.25rem;
    text-decoration: none;
}

.navButton {
    padding: 0;
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    color: #D1D4C9;
    letter-spacing: 0.25rem;
    height: 2rem;
    margin: .25rem;
    margin-left: 0.5rem;
}

.navButton:hover{
    color: #556E53;
    cursor: pointer;
}

#appTitle:hover {
    color: #556E53;
}

.hover-effect {
    transition: filter 0.1s ease; 
}
.hover-effect:hover {
    filter: brightness(50%); 
    cursor: pointer;
}

.monkey {
    margin-bottom: -1.5rem;
} */
